<ng-container *ngIf="routes">
  <ng-container *ngFor="let route of routes; let rIndex = index">
    <div class="route-sep" *ngIf="rIndex &gt; 0">
      <hr>
    </div>
    <div *ngIf="route" class="travel">
      <h3>Travel</h3>
      <strong>Cost:</strong> {{ route.cost }}
      <br>
      <strong>Duration:</strong> {{ route.duration }}
    </div>
    <route-steps [route]="route"></route-steps>
    <route-map [start]="getStartStation(route.steps)" [end]="getEndStation(route.steps)"></route-map>
  </ng-container>
</ng-container>